@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  

header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.07);
    
    .nav-link, .nav-item{
        color: white !important;
    }

    img{
        width: 200px;
    }
}

body#principal{
    overflow: hidden;
    background-color: rgb(255, 255, 255);

    .dates{
      background-color: rgba(0, 0, 0, 0.389);

      img{
        height: 250px;
      }
    }
}
body#team{
  section{
    min-height: 50vh;
    align-content: center;
  }
}
body#asociacion{
  background: url('./fotos/asociacion/fondo_asociacion.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  background-attachment: fixed;

  section+section{
    background-color: #0000004c !important;
    color: white;
    margin: 0;
  }
}
  
html body{
    font-family: "Lora";
    background-color: #000;
}

p {
    font-family: "Lora";
    font-weight: 900;
}

h1{
  font-weight: 900 !important;
  font-size: 100px !important;
  font-family: "Montserrat" !important;
  color: beige !important;
}
h2{
  font-size: 60px;
  font-family: "Montserrat";
  color: #f0a519 !important;
}

.oscuridad{
    height: 100vh;
    scale: 0.3;
    transform: translateY(-300%);
    background-color: black;
    animation: desplazar 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards 1s, ampliarCaja 2s ease-in-out forwards 3s;

    & section{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    & section+section{
        margin-top: 200px;
        & p{
            font-family: "Lora";
            font-weight: 900;
            /* font-size: 25px; */
        }
    }
    & > section:first-child{
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
        h1, p:nth-child(2){
            font-family: "Montserrat";
            color: beige;
        }
        p:nth-child(2){
            font-weight: 900;
            font-size: 50px;
        }
        p:last-child{
            font-weight: 900;
            font-size: 25px;
            color: rgb(255, 170, 67);
        }

        video{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          object-fit: cover;
          /* pointer-events: none; */
          z-index: -2;
        }
    }
    & > section:nth-child(2){
        background-image: url(./fotos/Inicio/img2.jpg);
    }
    & > section:nth-child(3){
        background-image: url(./fotos/Inicio/img3.jpg);
    }
    & > section:nth-child(4){
        background-image: url(./fotos/Inicio/img4.jpg);
    }
}

.oscuridad > *, #principal footer, #principal header{
    transition: all 2s ease-in-out;
    opacity: 0;
}

@keyframes desplazar {
    from{
        transform: translateY(-300%);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes ampliarCaja {
    from{
        scale: 0.3;
    }
    to{
        scale: 1;
    }
}

  .cta {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 2rem 0;
    
    .cta-title {
      font-size: 2rem;
      color: #f0c419;
      font-weight: 700;
  
      h2{
        font-size: 50px;
      }
    }
    .cta-text {
      font-size: 1rem;
      line-height: 1.6;
      margin-bottom: 1.5rem;
    }
  }
  
  
  
  .btn-primary {
    background-color: #f0c419;
    color: #000;
    border: none;
    border-radius: 25px;
    padding: 0.8rem 2rem;
    transition: all 0.3s ease-in-out;
    
    &:hover {
      background-color: #d1a70b;
      color: #fff;
    }
  }

  .exploraMas {
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .explora-text {
      z-index: 10;
      max-width: 600px;
      padding: 2rem;
      background: rgba(0, 0, 0, 0.6); /* Fondo oscuro translúcido */
      border-radius: 15px;
      animation: fadeIn 1.5s ease-in-out forwards;
      opacity: 0;
    }
    .explora-title {
      font-size: 1.8rem;
      line-height: 1.6;
      color: #f0c419; /* Dorado */
      font-family: 'Lora', serif;
      font-weight: 700;
    }
  }
  
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
    z-index: 1;

    .image-item {
      background-size: cover;
      background-position: center;
      border-radius: 15px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
      transition: transform 0.4s ease, box-shadow 0.4s ease;
  
      &:nth-child(1) {
          background-image: url('./fotos/Inicio/img8.jpg');
      }
      &:nth-child(2) {
          background-image: url('./fotos/Inicio/img9.jpg');
      }
      &:nth-child(3) {
          background-image: url('./fotos/Inicio/img10.jpg');
      }
      &:nth-child(4) {
          background-image: url('./fotos/Inicio/img11.jpg');  
      }
      &:hover {
        transform: scale(1.1);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
      }
    }
  }
  
  section+section{
    margin-top: 20px;
  }

  .banner{
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
  
    .row{
      justify-content: center;

      h1, h2{
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
      }
      h2{
        font-size: 60px;
        font-weight:bold;
      }
      button{
        background-color: #f0a519;
      }
    }
  }

  #bannerPuma{
    background-image: url('./fotos/Puma/Puma.png');
  }
  #bannerGuepardo{
    background-image: url('./fotos/Guepardo/photo-1551969014-7d2c4cddf0b6.jpg');
  }
  #bannerleopardoNieves{
    background-image: url('./fotos/leopardoNieves/leopardo1.jpg');
  }
  #bannerAsociacion{
    height: 100vh;
  }

  section#bannerEquipo.container{
    background-color: #f4bd56;
  }

  .importancia{
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .card{
      background-color: rgba(0, 0, 0, 0.5);
      margin: auto;
      color: white;

      h2{
        font-size: 60px;
        font-weight:bold;
      }
    }
  }

  #importanciaPuma{
    background-image: url('./fotos/Puma/Puma2.jpg');
  }
  #importanciaGuepardo{
    background-image: url('./fotos/Guepardo/guepardo2.jpg');
  }
  #importanciaLeopardoNieves{
    background-image: url('./fotos/leopardoNieves/leopardo2.jpg');
  }

  .sonidos{
    padding: 50px 0;
    align-content: center;
    min-height: 50vh;

    h2{
      font-size: 40px;
      font-weight:bold;
    }

    .card{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
      background-color: rgba(0, 0, 0, 0.096);
      border: none;
    }

    .row div+div .card-body{
      min-height: 30vh;
      display: flex;
      flex-flow: column;
      justify-content: space-between;

      h5{
        font-size: 25px;
        font-weight:bold;
      }
    }
  }

  #sonidosPuma{
    background-color: rgba(146, 202, 63, 0.673);
  }
  #sonidosGuepardo{
    background-color: rgb(167, 154, 53);
  }
  #sonidosLeopardo{
    background-color: #cfd2d6;
  }

  #datosPuma{
    background: url('./fotos/Puma/Puma3.jpg');
  }
  #datosGuepardo{
    background: url('./fotos/Guepardo/guepardo3.png');
  }
  #datosLeopardo{
    background: url('./fotos/leopardoNieves/leopardo3.jpg');
  }

  .datos{
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    height: 100vh;
    display: flex;
    align-items: center;

    h2{
      font-size: 40px;
      font-weight: bold;
    }

    #accordionExample{
      .accordion-item{
        background-color: rgba(0, 0, 0, 0.400)  ;
        color: white;
        .accordion-button{
          background-color: rgba(0, 0, 0, 0.4)  ;
          color: white;
        }
      }
    }
  }


  #videoPuma{
    height: 100vh;
    position: relative;

    iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  #introduccion-equipo img {
    border: 5px solid #f4bd56;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#miembros-equipo {
  padding-top: 150px !important;
  
  .col-md-6:hover{
      background-color: grey;
      transition: all 0.3s ease-in-out;
    }
    
    h1 {
        color: #f4bd56 !important;
    }
    img {
        border: 3px solid #f4bd56;

        &:hover {
            transform: scale(1.1);
        }
    }
}

#proceso-trabajo .card {
    background-color: rgba(255, 255, 255, 0.132);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    & img{
      max-width: 100%;
      height: 400px;

    }
    &:hover{
      transform: translateY(-5px);
      box-shadow: 0px 6px 12px rgba(255, 255, 255, 0.629);
    }
    h5{
      font-size: 1.2rem;
      color: #007bff;
    }
}

.botones{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;

  button{
    background-color: #f4bd5670;
    border: none;
  }
}

#logros-reconocimientos .card {
    border: 2px solid #007bff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

    &:hover{
      background: #007bff;
      color: #fff;
      border-color: #0056b3;
    }
}

#unete-iniciativas {
  background: linear-gradient(90deg, #007bff, #0056b3);
  color: #fff;
  text-align: center;

  h2{
    font-size: 2rem;
    font-weight: bold;
  }
  p{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
  .btn{
    font-size: 1.1rem;
    padding: 0.8rem 2rem;
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;

    &:hover{
      background-color: #003d80;
      transform: scale(1.05);
    }
  }
}

#donar form {
  max-width: 600px;
  margin: 0 auto;
}

  footer{
    background-color: rgba(0, 0, 0, 1);
    .row{
      color: white;
      /* padding: 0 100px; */

      .col-md-6{
        align-content: center;
      }

      li a{
        color: white;
      }
    }
  }

  @media (max-width: 768px) {
    .oscuridad {
        & > section:first-child {
            h1 {
                font-size: 50px;
            }
        }
    }

    #proceso-trabajo{
      .card img{
        height: 200px;
      }
      .botones{
        flex-flow: row;
      }
    }

    

    p{
        font-size: 20px;
    }

    .explora-title {
      font-size: 1.5rem;
    }
  
    .image-grid {
      grid-gap: 0.5rem;
    }
  
    .icon-link {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 480px) {
    header{
      img{
        width: 120px;
      }
    }
    h1{
      font-size: 50px !important;
    }
    h2{
      font-size: 30px !important;
    }

    .explora-title {
      font-size: 1.2rem;
    }
  
    .social-icons {
      gap: 0.5rem;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }