@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    scrollbar-width: none; /* Para navegadores basados en Firefox */
    -ms-overflow-style: none; /* Para Internet Explorer y Edge heredado */
    scroll-behavior: smooth;
  }
  
  body::-webkit-scrollbar {
    display: none; /* Oculta la barra de scroll en navegadores basados en WebKit (Chrome, Safari, Edge moderno) */
  }
  

header{
    width: 100%;
    position: fixed;
    z-index: 999;
    
    .nav-link, .nav-item{
        color: white !important;
    }

    img{
        width: 200px;
    }
}

body{
    overflow: hidden;
}

.oscuridad{
    /* width: 100%; */
    height: 100vh;
    scale: 0.3;
    transform: translateY(-300%);
    background-color: black;
    animation: desplazar 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards 1s, ampliarCaja 2s ease-in-out forwards 3s;

    & section{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;

        h1{
            font-family: "Montserrat";
            font-weight: 900;
            font-size: 100px;            
        }
    }
    & section+section{
        margin-top: 200px;
    }
    & > section:first-child{
        background-image: url(./fotos/Inicio/img1.jpg);
        h1, p{
            text-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
            color: beige;
        }
        p{
            font-family: "Montserrat";
            font-weight: 900;
            font-size: 50px;
        }
    }
    & > section:nth-child(2){
        background-image: url(./fotos/Inicio/img2.jpg);
    }
    & > section:nth-child(3){
        background-image: url(./fotos/Inicio/img3.jpg);
    }
    & > section:nth-child(4){
        background-image: url(./fotos/Inicio/img4.jpg);
    }
}

.oscuridad > *, #principal footer, #principal header{
    transition: all 2s ease-in-out;
    opacity: 0;
}

@keyframes desplazar {
    from{
        transform: translateY(-300%);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes ampliarCaja {
    from{
        scale: 0.3;
    }
    to{
        scale: 1;
    }
}
