@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    scrollbar-width: none; /* Para navegadores basados en Firefox */
    -ms-overflow-style: none; /* Para Internet Explorer y Edge heredado */
    scroll-behavior: smooth;
  }
  
  body::-webkit-scrollbar {
    display: none; /* Oculta la barra de scroll en navegadores basados en WebKit (Chrome, Safari, Edge moderno) */
  }
  

header{
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.07);
    
    .nav-link, .nav-item{
        color: white !important;
    }

    img{
        width: 200px;
    }
}

body#principal{
    overflow: hidden;
    background-color: white;
}
  
html body{
    font-family: "Lora";
    background-color: #000;
}

p {
    font-family: "Lora";
    font-weight: 900;
}

h1{
  font-weight: 900 !important;
  font-size: 100px !important;
  font-family: "Montserrat" !important;
  color: beige !important;
}
h2{
  font-size: 60px;
  font-family: "Montserrat";
  color: #f0a519 !important;
}

.oscuridad{
    /* width: 100%; */
    height: 100vh;
    scale: 0.3;
    transform: translateY(-300%);
    background-color: black;
    animation: desplazar 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards 1s, ampliarCaja 2s ease-in-out forwards 3s;

    & section{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    & section+section{
        margin-top: 200px;
        & p{
            font-family: "Lora";
            font-weight: 900;
            font-size: 25px;
        }
    }
    & > section:first-child{
        background-image: url(./fotos/Inicio/img1.jpg);
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
        h1, p:nth-child(2){
            font-family: "Montserrat";
            color: beige;
        }
        p:nth-child(2){
            font-weight: 900;
            font-size: 50px;
        }
        p:last-child{
            font-weight: 900;
            font-size: 25px;
            color: rgb(255, 170, 67);
        }
    }
    & > section:nth-child(2){
        background-image: url(./fotos/Inicio/img2.jpg);
    }
    & > section:nth-child(3){
        background-image: url(./fotos/Inicio/img3.jpg);
    }
    & > section:nth-child(4){
        background-image: url(./fotos/Inicio/img4.jpg);
    }
}

.oscuridad > *, #principal footer, #principal header{
    transition: all 2s ease-in-out;
    opacity: 0;
}

@keyframes desplazar {
    from{
        transform: translateY(-300%);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes ampliarCaja {
    from{
        scale: 0.3;
    }
    to{
        scale: 1;
    }
}


.timeline {
    background: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente */
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
  }
  
  .timeline .timeline-item {
    position: relative;
  }
  
  .timeline .timeline-image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    height: 160px;
  }
  
  .timeline .timeline-title {
    font-size: 1.7rem;
    margin-top: 1rem;
    color: #f0c419; /* Dorado */
  }
  
  .timeline .timeline-text {
    font-size: 1.5rem;
    line-height: 1.6;
  }
  
  .timeline-line {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;
    /* background: rgba(255, 255, 255, 0.3); */
    z-index: 0;
  }

  .cta {
    background: rgba(0, 0, 0, 0.7); /* Fondo oscuro para contraste */
    color: #fff;
    padding: 2rem 0;
  }
  
  .cta-title {
    font-size: 2rem;
    color: #f0c419; /* Color dorado para destacar el título */
    font-weight: 700;

    h2{
      font-size: 50px;
    }
  }
  
  .cta-text {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }
  
  .btn-primary {
    background-color: #f0c419; /* Color dorado del botón */
    color: #000;
    border: none;
    border-radius: 25px;
    padding: 0.8rem 2rem;
    transition: all 0.3s ease-in-out;
  }
  
  .btn-primary:hover {
    background-color: #d1a70b;
    color: #fff;
  }

  .explora-mas-section {
    background: url('./fotos/Inicio/jaguar-rio.jpg') center/cover no-repeat;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .explora-text {
    z-index: 10;
    max-width: 600px;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.6); /* Fondo oscuro translúcido */
    border-radius: 15px;
    animation: fadeIn 1.5s ease-in-out forwards;
    opacity: 0;
  }
  
  .explora-title {
    font-size: 1.8rem;
    line-height: 1.6;
    color: #f0c419; /* Dorado */
    font-family: 'Lora', serif;
    font-weight: 700;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .image-item {
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.4s ease, box-shadow 0.4s ease;

    &:nth-child(1) {
        background-image: url('./fotos/Inicio/img8.jpg');
    }
    &:nth-child(2) {
        background-image: url('./fotos/Inicio/img9.jpg');
    }
    &:nth-child(3) {
        background-image: url('./fotos/Inicio/img10.jpg');
    }
    &:nth-child(4) {
        background-image: url('./fotos/Inicio/img11.jpg');  
    }

  }
  
  .image-item:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
  }
  
  .social-icons {
    display: flex;
    gap: 1rem;
  }
  
  .icon-link {
    color: #fff;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
  }
  
  .icon-link:hover {
    color: #f0c419; /* Dorado */
  }
  
  section+section{
    margin-top: 20px;
  }

  #bannerPuma{
    background-image: url('./fotos/Puma/Puma.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
  
    .row{
      justify-content: center;

      h1, h2{
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
      }
      h2{
        font-size: 60px;
        font-weight:bold;
      }
      button{
        background-color: #f0a519;
        
      }
    }
  }

  #importanciaPuma{
    background-image: url('./fotos/Puma/Puma2.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .card{
      background-color: rgba(0, 0, 0, 0.3);
      /* width: 50%; */
      margin: auto;
      color: white;

      h2{
        font-size: 60px;
        font-weight:bold;
      }
    }
  }

  #sonidosPuma{
    padding: 50px 0;
    align-content: center;
    background-color: rgba(189, 117, 64, 1);
    min-height: 50vh;

    h2{
      font-size: 40px;
      font-weight:bold;
    }

    .card{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
      background-color: rgba(0, 0, 0, 0.096);
      border: none;
    }

    .row div+div .card-body{
      min-height: 30vh;
      display: flex;
      flex-flow: column;
      justify-content: space-between;

      h5{
        font-size: 25px;
        font-weight:bold;
      }
    }
  }

  #datosCuriosos{
    background: url('./fotos/Puma/Puma3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    /* display: flex; */
    /* justify-content: center; */
  }



  
  /* Animación Fade-in */
  @media (max-width: 768px) {
    .oscuridad {
        & > section:first-child {
            h1 {
                font-size: 50px;
            }
        }
    }

    p{
        font-size: 20px;
    }

    .explora-title {
      font-size: 1.5rem;
    }
  
    .image-grid {
      grid-gap: 0.5rem;
    }
  
    .icon-link {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 480px) {
    .explora-title {
      font-size: 1.2rem;
    }
  
    .social-icons {
      gap: 0.5rem;
    }
  }
  
  /* Animación Fade-in */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }